In [69]:
import pandas as pd

In [70]:
df = pd.read_csv("s_org_ext.csv",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,3,Φανή,Βασιλειάδου,Σπυρίδωνας,1945-03-04,single,Ελληνική,Συνταξιούχος ΟΤΕ,Λέσβου,11,...,Axxa Ασφαλιστική,13745541.0,Γεώργιος Δετοράκης,1940-08-08,Συνταξιούχος ΟΤΕ,0000-00-00 00:00:00,NaN,2018-09-27 16:34:41,stelios77,0
1,11,Μαρία,Παναγοπούλου,Κώστας,0000-00-00,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,0000-00-00,NaN,0000-00-00 00:00:00,NaN,2013-09-22 02:35:13,mama,0
2,41,Μαρία,Κωνσταντινίδου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0000-00-00,NaN,2013-09-10 22:15:33,mama,2013-09-10 22:15:34,mama,1
3,48,Μαρία,Ρεπούση,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0000-00-00,NaN,2013-09-15 15:18:53,mama,2013-09-15 22:02:56,mama,1
4,54,Μαρία,Κοσμίδη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0000-00-00,NaN,0000-00-00 00:00:00,NaN,2013-10-24 23:51:03,mama,1

In [71]:
import seaborn as sns
from datetime import datetime

In [72]:
def convert_to_date(row):
    
    if row[4] == '0000-00-00':
        return ""
    else:
        return datetime.strptime(row[4], '%Y-%m-%d')

In [73]:
df["date_of_birth"] = df.apply(lambda x: convert_to_date(x), axis=1)

In [85]:
temp = df[[1,2,"date_of_birth"]]

In [88]:
temp["date_of_birth"].gr

                           1              2
date_of_birth
1936-01-01         Ελευθερία       Παπουτσή
1939-05-20           Τσιαχρή            Ζωή
1940-10-04             Μαρία    Γραμματικού
1944-01-01          Βασιλική         Υφαντή
1945-03-04              Φανή    Βασιλειάδου
1945-08-27          Καλλιόπη         Χασαπά
1945-12-28           Θεοδώρα     Αναστασίου
1946-03-11           Ασπασία      Κουντούρη
1947-01-01          Πετρούλα       Πρίντεζη
1948-12-12              Πέπα         Βεζίκο
1949-09-07           Ευθαλία       Βουτσινά
1949-10-17            Ιωάννα        Δρακάκη
1951-02-01               Ζωή   Τσιτσιμπάκου
1951-05-01           Γεωργία     Καπετανάκη
1952-03-30         Ελισσάβετ         Σούτου
1952-11-01              Ζίνα         Ιβάσκο
1953-10-02            Μαρίνα        Θεοχάρη
1953-11-20          Αγγελική        Σαμιώτη
1955-01-01     ΜαρίαΑγγελική   ΣιούταΤσιχλή
1955-02-11          Καλλιρόη    Κουτσουβέλη
1955-08-08             Ελένη      Σαββαΐδου
1955-11-12        Αικατερίνη       Μπερσίμη
1956-01-01             Ντίνα       Στεφάνου
1956-01-04             Σοφία      Κορωναίου
1956-03-30          Βασιλική          Στάθη
1956-05-17          Βασιλική      Δημητρίου
1957-09-01            Iωάννα          Γράψα
1958-02-12             Μαρία   Παπαδοπούλου
1958-06-29          Βασιλική         Τζώτζα
1959-04-20          ΚΟΥΣΤΕΝΗ        ΣΩΤΗΡΙΑ
...                      ...            ...
1996-07-04            Χρίστα           Λίλε
1996-07-07         Αλεξάνδρα  Τριανταφύλλου
1996-08-01            Φαίδρα     Κορομπίλια
1996-08-28           Ευτυχία       Κουρτέση
1996-09-20          ΧΡΙΣΤΙΝΑ        ΑΡΑΝΑΚΗ
1996-10-04        ΓΑΣΠΑΡΑΤΟΥ          ΜΑΡΙΑ
1996-10-25          Χριστίνα         Δράκου
1996-11-10         Αλεξάνδρα        Πασχίδη
1996-12-03         Παναγιώτα  Καραβοκυράκου
1996-12-08            Νομική       Νυστάζου
1997-01-09          Χριστίνα      Τσούχλαρη
1997-04-22        Χριστιάννα          Δοντά
1997-11-03          Μαριάννα        Πιτταρά
1997-12-14               Έρα       Καμπεράι
1997-12-27           Αριστέα        Μπεκίρη
1998-10-01          Χριστίνα   Σωτηροπούλου
1998-11-15          Κατερίνα        Τζόγκου
1998-11-23         Ευαγγελία       Καλαφάτη
1999-02-22          Αγγελική          Μπότα
1999-04-15             Δανάη       Κούνουπα
1999-05-28          Κατερίνα       Βαφειάδη
1999-09-29         Ελευθερία         Πρίφτη
1999-11-06        ΚΑΛΟΓΙΑΝΝΗ       ΝΙΚΟΛΕΤΑ
1999-12-07             Λυδία          Δοντά
2000-02-07        ΣΚΛΑΒΟΥΝΟΥ         ΕΙΡΗΝΗ
2000-03-18            ΕΙΡΗΝΗ         ΚΟΡΑΚΗ
2000-05-06          Μαρκέλλα           Παπή
2000-08-01            ΝΑΣΤΟΥ      ΠΑΝΑΓΙΩΤΑ
2001-03-07      ΓΟΥΡΓΟΥΛΙΤΣΑ         ΜΕΛΙΝΑ
2001-05-23             Ράνια        Τζελέπη

[445 rows x 2 columns]

In [77]:
df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,date_of_birth
1,11,Μαρία,Παναγοπούλου,Κώστας,0000-00-00,NaN,NaN,NaN,NaN,0,...,NaN,NaN,0000-00-00,NaN,0000-00-00 00:00:00,NaN,2013-09-22 02:35:13,mama,0,NaT
2,41,Μαρία,Κωνσταντινίδου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2013-09-10 22:15:33,mama,2013-09-10 22:15:34,mama,1,NaT
3,48,Μαρία,Ρεπούση,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2013-09-15 15:18:53,mama,2013-09-15 22:02:56,mama,1,NaT
4,54,Μαρία,Κοσμίδη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,0000-00-00 00:00:00,NaN,2013-10-24 23:51:03,mama,1,NaT
5,56,Γεωργία,Καραδημητρίου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,0000-00-00 00:00:00,NaN,0000-00-00 00:00:00,NaN,1,NaT
8,60,Παναγιώτα,Παρθενίου,Σταύρος,0000-00-00,single,Ελληνική,Ιδιωτική Υπάλληλος,Χρυσίπου,41,...,NaN,NaN,0000-00-00,NaN,0000-00-00 00:00:00,NaN,2013-12-05 18:11:46,stelios77,1,NaT
9,61,Ελένη,Δουκάκη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,0000-00-00 00:00:00,NaN,2014-02-23 19:22:24,mama,1,NaT
10,62,Φωτεινή,Μπαρδάκα,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2014-02-07 16:41:05,stelios77,2014-02-07 16:41:05,stelios77,1,NaT
19,72,Χρύσα,Τσέρου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2014-03-12 13:12:23,stelios77,2014-03-12 13:12:23,stelios77,1,NaT
23,78,Σπυριδούλα,Καραλιά,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2014-03-19 20:27:19,stelios77,2014-03-19 20:27:19,stelios77,1,NaT
26,82,Παπαντωνοπούλου,Μαργαρίτα,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2014-04-22 13:06:45,stelios77,2014-04-22 13:06:45,stelios77,1,NaT
28,84,Νέα,Χρυσοπούλου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2014-05-01 16:15:57,stelios77,2014-05-01 16:15:57,stelios77,1,NaT
31,87,Νέα,Γκαραβέλα,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2014-05-16 18:37:08,stelios77,2014-05-16 18:37:08,stelios77,1,NaT
52,108,Σπυριδούλα,Διγώνη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2014-10-09 18:49:02,stelios77,2014-10-09 18:49:02,stelios77,1,NaT
65,123,Παρασκευή,Αυξέντη,NaN,0000-00-00,married,Ελληνική,NaN,NaN,NaN,...,NaN,Σαλβάνος Γιώργος,0000-00-00,NaN,2014-12-11 15:38:34,stelios77,2015-02-16 13:02:45,stelios77,1,NaT
97,156,Ευγενεία,Βογιατζάκη,NaN,0000-00-00,NaN,NaN,NaN,Λέλας Καραγιάννη,54,...,NaN,NaN,0000-00-00,NaN,2015-06-02 09:48:49,stelios77,2015-06-02 10:28:22,stelios77,1,NaT
138,198,Ευαγγελία,Κωστοπούλου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2016-05-29 19:07:51,stelios77,2016-05-29 19:07:51,stelios77,1,NaT
140,200,Ευφροσύνη,Μαρκοπούλου,Ιωάννης,0000-00-00,married,NaN,Ιδιωτική Υπάλληλος,Ιθάκης,115,...,NaN,Νίκος,0000-00-00,NaN,2016-06-21 08:20:34,stelios77,2016-06-21 08:20:34,stelios77,1,NaT
155,215,Μαρίτα,Κοσιάβα,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,Παύλος,0000-00-00,NaN,2016-08-27 11:01:09,stelios77,2016-08-27 11:01:09,stelios77,1,NaT
181,245,ΖΉΚΟΥ,NaN,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2017-03-02 20:24:46,stelios77,2017-03-02 20:24:46,stelios77,1,NaT
206,270,Χριστίνα,Ρήγκου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,1.204860e+10,Βασίλης,0000-00-00,NaN,2017-08-02 17:48:53,stelios77,2017-08-02 20:32:08,stelios77,1,NaT
210,274,Αθανασία(Νάσια),Βοζάνη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,2.011820e+10,Νίκος,0000-00-00,NaN,2017-08-16 14:28:21,stelios77,2018-11-28 17:23:23,stelios77,1,NaT
219,284,Κατερίνα,Γεωργίου,Βασίλειος,0000-00-00,married,NaN,Συνταξιούχος ΟΤΕ,ΚΑΠ. ΜΑΤΑΠΑ,190Α,...,NaN,Δημήτρης,0000-00-00,NaN,2017-09-09 18:38:25,stelios77,2017-09-09 18:46:30,stelios77,1,NaT
235,300,Σοφία,Κοντίδου,NaN,0000-00-00,married,NaN,NaN,NaN,NaN,...,2.203840e+10,Τάσος,0000-00-00,NaN,2017-10-25 18:07:59,stelios77,2017-10-25 18:29:26,stelios77,1,NaT
238,303,Ζωή,Βεηκώντη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,2.402790e+10,Γιώργος,0000-00-00,NaN,2017-10-26 18:44:50,stelios77,2018-03-17 17:12:50,stelios77,1,NaT
297,366,Ελένη,Τσιχλή,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2018-07-16 20:59:25,stelios77,2018-07-16 20:59:25,stelios77,1,NaT
309,378,Μαλβίνα,Καζαριάν,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2018-08-10 13:18:17,stelios77,2018-08-10 13:18:17,stelios77,1,NaT
310,379,Λουΐζα,Μέμα,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2018-08-10 13:25:21,stelios77,2018-08-10 13:25:21,stelios77,1,NaT
311,380,Ελένη,Γαργαλιώνη,Παναγιώτης,0000-00-00,married,NaN,Χημικός Μηχανικός,Πρ. Κατσούλη,3,...,NaN,Γιάννης,0000-00-00,NaN,2018-08-13 14:55:26,stelios77,2018-08-13 14:55:26,stelios77,1,NaT
312,381,Βασιλική,Σιαντή,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,Αντρέας,0000-00-00,NaN,2018-08-13 16:45:22,stelios77,2019-02-14 19:44:35,stelios77,1,NaT
313,382,Μαρία,Κατσικάρη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2018-08-13 21:49:52,stelios77,2018-08-13 21:49:52,stelios77,1,NaT
316,385,Πλατάνα,Βασιλική,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,1.807860e+10,Χρήστος,0000-00-00,NaN,2018-08-16 18:01:40,stelios77,2019-06-25 16:42:39,stelios77,1,NaT
333,402,Νατέλα,Πακσασβίλι,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,3.110590e+10,NaN,0000-00-00,NaN,2018-10-09 10:16:45,stelios77,2018-10-09 10:16:45,stelios77,1,NaT
358,427,Κουστένη,Βίκυ,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,1.804850e+10,Δημήτρης,0000-00-00,NaN,2019-01-08 17:33:19,stelios77,2019-01-08 17:33:19,stelios77,1,NaT
365,434,Alexandra,Abrol,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,6.058904e+09,NaN,0000-00-00,NaN,2019-01-22 19:54:17,stelios77,2019-01-22 19:54:17,stelios77,1,NaT
381,450,Ελένη,Βρεττού,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,Ζαχαρίας,0000-00-00,NaN,2019-02-25 14:08:43,stelios77,2019-03-07 19:42:37,stelios77,1,NaT
385,454,Σωτηρία,Κονδύλη,Κν,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-02-28 19:00:23,stelios77,2019-02-28 19:00:23,stelios77,1,NaT
390,459,Μαρίνα,Κουβέλη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,Δημήτρης,0000-00-00,NaN,2019-03-07 19:50:10,stelios77,2019-03-07 20:14:25,stelios77,1,NaT
396,465,Ιωάννα,Δήμου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,2.609730e+10,NaN,0000-00-00,NaN,2019-03-21 22:07:09,stelios77,2019-07-23 18:11:16,stelios77,1,NaT
401,470,Κατερίνα,Αγριογιάννη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-04-23 18:25:58,stelios77,2019-04-23 18:25:58,stelios77,1,NaT
431,500,Ανθή,Ράπτη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-06-19 17:05:23,stelios77,2019-06-19 17:05:23,stelios77,1,NaT
436,507,ΙΡΠΖΚΛΣΦΞΑΗΚΛΗ΄ΞΦΡΔΣΑ,NaN,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-06-27 18:36:24,stelios77,2019-06-27 18:36:24,stelios77,1,NaT
437,510,ΘΕΟΧΑΡΗ,ΜΑΡΙΝΑ,ΘΩΜΑΣ,0000-00-00,married,NaN,Οικιακά,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-06-27 18:39:31,stelios77,2019-06-27 18:43:05,stelios77,1,NaT
440,513,Birte,NaN,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,Θέμης,0000-00-00,NaN,2019-07-01 18:54:48,stelios77,2019-07-01 18:54:48,stelios77,1,NaT
448,521,ΠΑΠΑΣ,NaN,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-07-12 10:43:36,stelios77,2019-07-12 10:43:36,stelios77,1,NaT
463,536,Κατερίνα,Μαγγιώρου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,2.804850e+10,NaN,0000-00-00,NaN,2019-08-06 20:39:25,stelios77,2019-09-05 09:39:55,stelios77,1,NaT
470,543,Jamie,Madison,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-08-13 21:23:18,stelios77,2019-08-13 21:23:18,stelios77,1,NaT
472,545,Φρόσω,Βαριαξή,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,4.048001e+09,NaN,0000-00-00,NaN,2019-08-14 18:57:51,stelios77,2019-08-14 20:11:43,stelios77,1,NaT
473,546,Βίλυ,Καραγιάννη,NaN,0000-00-00,married,NaN,παιδίατρος,NaN,NaN,...,NaN,Παναγιώτης,0000-00-00,NaN,2019-08-16 13:13:35,stelios77,2019-08-16 13:15:47,stelios77,1,NaT
475,548,Αφροδίτη,Κοντάκου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,Κώστας,0000-00-00,NaN,2019-08-21 15:32:43,stelios77,2019-10-10 18:00:01,stelios77,1,NaT
476,549,Αρετή,Μορφιαδάκη,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0000-00-00,NaN,2019-08-22 13:57:43,stelios77,2019-08-22 21:06:38,stelios77,1,NaT
482,555,Αθηνά,Κουβαριώτου,NaN,0000-00-00,NaN,NaN,NaN,NaN,NaN,...,NaN,Παναγιώτης,0000-00-00,NaN,2019-09-03 20:55:02,stelios77,2019-11-04 17:07:06,stelios77,1,NaT